@code {
    private bool isCollapsed = false;

    private string MenuClass => isCollapsed ? "nav-menu collapsed" : "nav-menu";
    private string TogglerIcon => isCollapsed ? "bi bi-list" : "bi bi-x";

    private void ToggleMenu()
    {
        isCollapsed = !isCollapsed;
    }
}

<div class="@MenuClass">
    <div class="nav-header" @onclick="ToggleMenu">
        <span class="navbar-brand">taisat</span>
    </div>

    @if (!isCollapsed)
    {
        <nav class="flex-column nav-scrollable">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                    <span>Home</span>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usageguide">
                    <span class="bi bi-info-circle" aria-hidden="true"></span>
                    <span>Usage Guide</span>
                </NavLink>
            </div>
        </nav>
    }
</div>